<div class="container animated fadeIn" style="padding-top:135px;padding-bottom:75px">
    <div class="row">
        <div class="col-xs-12 text-center text-primary">
            <h2 class="text-danger">
                <strong>OPS! Não conseguimos encontrar o que você procura...</strong>
                <br>
                <small>Essa página pode ter sido temporariamente desativada ou removida.</small>
            </h2>
            <hr width="30%">
            <p>
                <button class="btn btn-default" type="button" ui-sref="main.home"><i class="fa fa-home"></i> voltar ao ínicio</button>
            </p>
        </div>
    </div>
</div>