<div class="view-product-list-border"></div>
<div class="view-product-list container">

    <aside class="categories" ng-class="{'open': $ctrl.rootScope.menus.categories}">

        <div class="form-group">
            <button class="btn btn-primary-outline btn-block hidden-md hidden-lg" type="button" ng-click="$ctrl.rootScope.menus.categories = false">Fechar</button>
        </div>

        <ul class="level1 list-unstyled">
            <li>
                <div class="name" ui-sref="main.productList({link: 'todos'})" ui-sref-active="active">Todos Produtos</div>
            </li>
        </ul>

        <ul class="level1 list-unstyled" ng-repeat="level1 in $ctrl.categories">
            <li>
                <div class="name" ui-sref="main.productList({link: level1.link})" ui-sref-active="active">{{level1.name}}</div>

                <ul class="level2 list-unstyled" ng-if="level1.items.length">
                    <li ng-repeat="level2 in level1.items">
                        <div class="name" ui-sref="main.productList({link: level2.link})" ui-sref-active="active">{{level2.name}}</div>

                        <ul class="level3 list-unstyled" ng-if="level2.items.length">
                            <li ng-repeat="level3 in level2.items">
                                <div class="name" ui-sref="main.productList({link: level3.link})" ui-sref-active="active">{{level3.name}}</div>
                            </li>
                        </ul>

                    </li>
                </ul>

            </li>
        </ul>

    </aside>

    <div class="products" ng-class="{'no-products': $ctrl.products.length == 0}">

        <div class="row hidden-md hidden-lg">
            <div class="col-xs-12">
                <div class="form-group">
                    <button class="btn btn-primary-outline btn-block" type="button" ng-click="$ctrl.rootScope.menus.categories = true">Categorias</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" ng-repeat="product in $ctrl.products">
                <product-item product="product"></product-item>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="nothing-found" ng-hide="$ctrl.products.length">
                    Não encontramos nenhum produto nesta categoria...
                </div>
            </div>
        </div>
    </div>

</div>