<page-loading hide="$ctrl.loaded"></page-loading>
<page-header section="'Produto'" page="'Produtos'"></page-header>

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-search"></i> Procurar produtos
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group rm-bottom">
                                <label>Referência ou Descrição</label>
                                <input class="form-control" type="text" ng-model="$ctrl.search.texts" ng-model-options="{debounce: 500}" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <h4>Para criar um novo produto</h4>
                    <button class="btn btn-primary" type="button" ui-sref="main.product.multi">clique aqui</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Produtos
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                        <tr>
                            <th colspan="2">Informações</th>
                            <th>Data de Criação</th>
                            <th width="1"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in $ctrl.products | filter:$ctrl.search.texts">
                            <td width="50"><img ng-src="../images/products/75-{{product.image}}" d-err-src="../images/products/fallback.png" alt="{{product.reference}} - {{product.description}}" width="50" /></td>
                            <td>
                                <h4 class="rm-bottom text-primary">{{product.reference}}</h4>
                                <div>{{product.description}}</div>
                            </td>
                            <td>{{product.creation | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <button class="btn btn-primary-outline btn-sm" type="button" ui-sref="main.product.multi({id_product: product.id})">Editar produto</button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot ng-hide="$ctrl.products.length">
                        <tr>
                            <td colspan="4">
                                Nenhum produto cadastrado.
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<ul uib-pagination total-items="50" ng-model="currentPage" ng-change="pageChanged()"></ul>-->
        <!--</div>-->
    <!--</div>-->
</div>
