/*
 * CUSTOMER COLORS
 */

$white: 					#fff;
$black: 					#000;

$brand-success: 			#a6c733;
$brand-info: 				#57bdda;
$brand-warning: 			#e5c649;
$brand-danger: 				#ed7878;

$brand-primary: 			#2E3192;
$brand-accent: 				#1BFFFF;

$gray-lightest:             #f5f5f5 !default;
$gray-lighter:              darken($gray-lightest, 15%) !default;
$gray-light:                darken($gray-lightest, 30%) !default;
$gray: 						darken($gray-lightest, 45%) !default;
$gray-base:                 darken($gray-lightest, 60%) !default;
$gray-dark:                 darken($gray-lightest, 75%) !default;
