.view-product-detail{
    margin-top: 15px;
    padding-top: 10px;
    border-top: 5px solid $black;

    .product-thumbs{
        margin-top: 15px;
        cursor: pointer;
        border-bottom: 4px solid $gray-lighter;

        &.active{
            border-color: $black;
        }
    }

    .product-title{
        @media(max-width: 992px){
            margin-top: 30px;
        }

        h1, h2, h3{
            font-family: "News701 BT", serif;
        }
    }

    .full-description{
        margin-top: 15px;
        padding: 15px;
        min-height: 200px;
        background-color: $gray-lightest;
        border-radius: $border-radius-base;
    }
}